@page "/pokemon"
@inject PokemonService PokemonService
@rendermode InteractiveServer

<h3>Données de Pokémon</h3>

<button @onclick="GetPokemonDataBulbasaur">Charger Bulbizarre</button>
<button @onclick="GetPokemonDataPikachu">Charger Pikachu</button>

@if (!string.IsNullOrEmpty(pokemonData))
{
    <div>
        <h4>Infobox sur le Pokémon :</h4>
        <pre>@pokemonData</pre>
        <button @onclick="SendTriplesToFuseki">Envoyer à Fuseki</button>
    </div>
}

@code {
    private string pokemonData;
    private Dictionary<string, List<(string, string)>> translations;

    protected override async Task OnInitializedAsync()
    {
        translations = await PokemonService.LoadPokemonTranslationsAsync();
    }

    private async Task GetPokemonDataBulbasaur()
    {
        pokemonData = await PokemonService.GetPokemonDataAsync("Bulbasaur", translations);
    }

    private async Task GetPokemonDataPikachu()
    {
        pokemonData = await PokemonService.GetPokemonDataAsync("Pikachu", translations);
    }

    private async Task SendTriplesToFuseki()
    {
        var result = await PokemonService.SendRdfToFusekiAsync(pokemonData);
        Console.WriteLine(result);
    }
}
